<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bookstore</title>
</head>
<body>
    <nav>
        <a href="/products">Todos los productos </a>
        <a href="/products/create">Agregar producto </a>
        <a href="/carts/63d28b5d6046e6ae60e8b400">Ir al carrito </a>
        <a href="/chat">Chat en tiempo real </a>
    </nav>
    {{{body}}}
</body>
</html>